.center{
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}
.alert-fill-danger {
  -webkit-animation: cssAnimation 3s forwards; 
  animation: cssAnimation 3s forwards;
}
.alert-fill-success {
  -webkit-animation: cssAnimation 3s forwards; 
  animation: cssAnimation 3s forwards;
}
.alert-fill-primary {
  -webkit-animation: cssAnimation 3s forwards; 
  animation: cssAnimation 3s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
//   /* Clear floats */
//   .container::after, .row::after {
//     content: "";
//     clear: both;
//     display: table;
//   }
// .col-md-3{
//   background: linear-gradient(120deg, #00e4d0, #5983e8);
//   padding: 4%;
//   border-top-left-radius: 0.2rem;
//   border-bottom-left-radius: 0.2rem;
// }

.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:50px;  
}


.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}





@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 200;
src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 300;
src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 900;
src: local('Source Sans Pro Black'), 
local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
body {
// background: #dce1df;
// background-image: url(D:/HMS/xyz.jpg);
//color: #4f585e;
// font-family: 'Source Sans Pro', sans-serif;
text-rendering: optimizeLegibility;
}
a.btn {
//background: #0096a0;
border-radius: 4px;
box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
color: #ffffff;
display: inline-block;
padding: 6px 30px 8px;
position: relative;
text-decoration: none;
//-webkit-transition: all 0.1s 0s ease-out;
//transition: all 0.1s 0s ease-out;
}
div.cards {
margin: 80px auto;
max-width: 960px;
text-align: center;
}
.card-img-top {
height: 15rem;
object-fit: cover;
}
div.card {
background: #ffffff;
display: inline-block;
margin: 20px;
max-width: 300px;
// -webkit-perspective: 1000;
//         perspective: 1000;
position: relative;
text-align: left;
//-webkit-transition: all 0.3s 0s ease-in;
transition: all 0.3s 0s ease-in;
width: 300px;
z-index: 1;
}
div.card img {
max-width: 300px;
}
div.card .card__image-holder {
background: rgba(0, 0, 0, 0.1);
height: 0;
padding-bottom: 70%;
}
div.card div.card-title {
background: #ffffff;
padding: 6px 15px 10px;
position: relative;
z-index: 0;
}
