<button type="button" (click)="addForm()" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bd-example-modal-xl" ><i
  class="mdi mdi-upload"></i>Add a Department</button>

  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="contact-info">
              <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
              <h4><b>Add</b></h4>
              <h4><b>A</b></h4>
              <h4><b>Department</b></h4>
              <h4>Welcome to our safe space!</h4>
            </div>
          </div>
          <div class="col-md-9">
            
            <div class="container">
              <div class="modal-header">
                <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
              </div>
              <form [formGroup]="myForm" >
                <label>
                <i class="mdi mdi-account-plus"></i>
                <input type="text" placeholder="Department name" formControlName="departmentName">
              </label>
                <button type="submit" id="login-button" (click)="SaveData()">
                 Add Department</button> 


                <input type="file" placeholder="image name" (change)="onFileChanged($event)">
                <button type="submit" id="login-button" (click)="onUpload()">Upload Image</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


<!-- <div class="container row">
  <div class="col-md-12">
      <h1>Upload Image</h1>
  </div>
</div>


<div class="container row">
  <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">

  </div>
  <div class="col-md-6">
      <input type="button" (click)="onUpload()" value="upload">
  </div>
</div>
<hr />

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">

  </div>
</div>


 <div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div>  -->



<!-- integration with backend -->
<div class="cards">
    <div class="card"  *ngFor="let list of lists ">
      <div class="card__image-holder">
      <!-- <img class="card__image" [src]="retrievedImage" style="object-fit: cover;" /> -->
      <!-- <img alt="Card image cap" class="card-img-top embed-responsive-item" [src]= "assets/images/samples/carousel/doc1.jpg" /> -->
      <img src="assets/images/carousel/doc1.jpg" class="card-img-top" alt="...">
    </div>
      <div class="card-title">
        <a href="#" class="toggle-info btn">
          <span class="left"></span>
          <span class="right"></span>
        </a>
        <h2> {{list.departmentName}}</h2>
        <small>You can trust us</small>
      </div>
    </div>

  
    <div class="card">
      <div class="card__image-holder">
        <img class="card__image" src="https://st4.depositphotos.com/8174188/25057/i/450/depositphotos_250570008-stock-photo-woman-having-teeth-examined-at.jpg" alt="beach" />
      </div>
      <div class="card-title">
        <a class="toggle-info btn">
          <span class="left"></span>
          <span class="right"></span>
        </a>
        <h2>
            Dentistry
            <small>Trust us wth your teeth</small>
        </h2>
      </div>
      <div class="card-flap flap1">
        <div class="card-description">
            Dental anesthesiology is the discipline in dentistry that manages pain and anxiety through the use of local anesthesia, sedation, and general anesthesia.
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
            <a href="#" class="btn">Read more</a>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card__image-holder">
        <img class="card__image" src="https://st3.depositphotos.com/3261171/15023/i/450/depositphotos_150239788-stock-photo-handsome-confident-oncologist-thinking-about.jpg" alt="field" />
      </div>
      <div class="card-title">
        <a href="#" class="toggle-info btn">
          <span class="left"></span>
          <span class="right"></span>
        </a>
        <h2>
            Neurology
            <small>Mental health is important</small>
        </h2>
      </div>
      <div class="card-flap flap1">
        <div class="card-description">
            Neurology is the branch of medicine that deals with disorders of the nervous system, which include the brain, blood vessels, muscles and nerves.
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
            <a href="#" class="btn">Read more</a>
          </div>
        </div>
      </div>
    </div> 
  
   
  </div>







  
  
  
  
  
  