<!-- <button type="button" (click)="addForm()" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bd-example-modal-xl" ><i
  class="mdi mdi-upload"></i>Add a Department</button>

  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="contact-info">
              <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
              <h4><b>Add</b></h4>
              <h4><b>A</b></h4>
              <h4><b>Department</b></h4>
              <h4>Welcome to our safe space!</h4>
            </div>
          </div>
          <div class="col-md-9">
            
            <div class="container">
              <div class="modal-header">
                <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
              </div>
              <form [formGroup]="myForm" >
                <label>
                <i class="mdi mdi-account-plus"></i>
                <input type="text" placeholder="Department name" formControlName="departmentName">
              </label>
              <div *ngIf="currentFileUpload" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                    aria-valuemin="0" aria-valuemax="100"
                    [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
            </div>

            <label class="btn btn-default"> <input type="file" (change)="selectFile($event)">
            </label>

            <button class="btn btn-success" [disabled]="!selectedFiles"
                (click)="upload()">Upload</button>


              <button type="submit" id="login-button" (click)="SaveData()">
                Add Department</button> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div> -->


 
 
  <div *ngIf="showMessage" class="alert alert-fill-danger" role="alert">
    Doctor has been Deleted successfully!!
  </div>
  <div class="cards">
    <div class="card"  *ngFor="let doc of lists ">
      <div class="card__image-holder">
      <img [src]=doc.image.url class="card-img-top" alt="...">
    </div>
      <div class="card-title">
        <a >
          <span class="left"></span>
          <span class="right"></span>
        </a>
        <h2 style="text-align:center;display:block;"> {{doc.departmentName}}</h2>
        
        <a href="#" class="btn btn-primary" style="text-align:center;margin-bottom:5px;display:block;">view Department</a>
      
        <a class="btn btn-danger" style="text-align:center;display:block;" (click)="Del(doc.id)">Delete Department</a>
  
      </div>
    </div>
  </div>
  
  
  
  
  
  
    
    