<!-- <div class="btn-group" mdbDropdown>
  <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
    mdbWavesEffect>
    Department
  </button>

  <div class="dropdown-menu dropdown-primary" >
   <div *ngfor="let dep of departmentArr">
    <a class="dropdown-item" href="#">{{dep.department}}</a>
  
    
  </div>
</div>
</div> -->


<!-- <div>
  <select [(ngModel)]="selectedgroup">
     <option *ngFor="let group of departmentArr">{{group.department}}</option>
  </select>
  </div>
<input type="button" (click)="getVal()" value="submit"/> -->
<div class="container">
<div class="dropdown">
  <label for="Department">Department:<span class="lblError">*</span></label>
  <div>
<select  class="dropdown-item"[(ngModel)]="selectedgroup" placeholder="choose" (change)="getVal()">
  <option *ngFor="let group of departmentArr"  [ngValue]="group">{{group.departmentName}}</option>
</select>
</div>
</div>



    <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
  
          <h3 style="text-align:center">
              <!-- Add Patient -->
          </h3>
         <!-- <pre> {{this.doctorForm.value| json}}</pre> -->
          <div class="form-group">
                <!-- Username --> 
                <label for="username">Name: <span class="lblError">*</span></label>
                <div class="controls">
                  <input type="text" id="username" placeholder="Name" class="form-control" formControlName="name">
                </div>
          </div>
  
  
  
           <div class="form-row">
            <div class="col">
              <div class="form-group">
                <!-- E-mail -->
                <label for="email">E-mail: <span class="lblError">*</span></label>
                <div class="controls">
                  <input type="text" id="email" placeholder="E-mail" class="form-control" formControlName="emailId">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <!-- Mobile -->
                <label for="phone">Phone <span class="lblError">*</span></label>
                <div class="controls">
                  <input type="number" id="phone" placeholder="Phone" class="form-control" formControlName="contactNumber">
                </div>
              </div>
            </div>
          </div>
  
         
  
        <div class="form-group" >
          <!-- <div class="form-check form-check-inline">
            
               <input type="radio" id="genderMale" class="form-check-input" formControlName="gender" value="Male">
              <label class="form-check-label" for="genderMale">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" id="genderFemale" class="form-check-input" formControlName="gender" value="Female">
            <label class="form-check-label" for="genderFemale">Female</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" id="genderOthers" class="form-check-input" formControlName="gender" value="Others">
            <label class="form-check-label" for="genderOthers">Others</label>
          </div> -->
    
                 
          
        <div class="form-group"> 
          <!-- Username -->
          <label for="username">Designation: <span class="lblError">*</span></label>
          <div class="controls">
            <input type="text" id="username" placeholder="Designation" class="form-control" formControlName="desig">
          </div>
    </div>  
        </div>
  
        
  
          <div class="form-group">
            <button class="btn btn-primary" type="submit" style="width: 15%">
              Add
            </button>
          </div>
  
    </form>
  </div>
  <div class="card" style="width: 18rem;" *ngFor="let hos of departmentArr">
    <div class="card-body">
        <h5 class="card-title">{{hos.id}}</h5>
        <h5 class="card-title">{{hos.department}}</h5>
        
             </div>
</div> 