<div class="col-lg-13 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctor</h4>
        <p class="card-description"></p>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="mdi mdi-upload"></i>Add an Doctor</button>
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Extra large modal</button> -->

          <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="contact-info">
                        <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                        <h4><b>Take</b></h4>
                        <h4><b>An</b></h4>
                        <h4><b>Appointment</b></h4>
                        <h4>We would love to cure your disease !</h4>
                      </div>
                    </div>
                    <div class="col-md-9">
                  
                      <div class="contact-form">
                        <form novalidate
                        (ngSubmit)="onSubmit()"
                        #f="ngForm">
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="fname">Name</label>
                          <div class="col-sm-10">          
                          <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="email">Email:</label>
                          <div class="col-sm-10">
                          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="comment">Date</label>
                          <div class="col-sm-10">
                          <span><div class="form-group">
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd"
                                     name="dp" [(ngModel)]="model" ngbDatepicker [footerTemplate]="footerTemplate" #d="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-primary" (click)="d.toggle()" type="button"><i class="fa fa-edit"></i></button>
                              </div>
                            </div>
                          </div>
                        
                        
                        <ng-template #footerTemplate>
                          <hr class="my-0">
                          <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
                          <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
                        </ng-template></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="email">Time</label>
                          <div class="col-sm-10">
                            <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
                            <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                                Meridian - {{meridian ? "ON" : "OFF"}}
                            </button>
                            <!-- <hr>
                            <pre>Selected time: {{time | json}}</pre> -->
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm" for="number">Mobile Number:</label>
                          <div class="col-sm-10">
                          <input type="num" class="form-control" id="Mnumber" placeholder="Select 10 digit mobile number " name="number">
                          </div>
                        </div>
                        <div class="form-group">
                          
                          <div class="col-sm-10">  
                            <label class="control-label " for="fname">Department</label>     
                            <div class="template-demo">
                              <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary" type="button" id="dropdownMenuOutlineButton1" ngbDropdownToggle>
                                  Department
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownMenuOutlineButton1">
                                  <h6 class="dropdown-header">Departments</h6>
                                  <a class="dropdown-item" href="#">Physiology</a>
                                  <a class="dropdown-item" href="#">Phsycology</a>
                                  <a class="dropdown-item" href="#">Cardiology</a>
                                  
                                </div>
                              </div> 
                                
                            </div>  
                            
                          <input type="text" class="form-control" id="department" placeholder="Select Department from list" name="department" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          
                          <div class="col-sm-10">  
                            <label class="control-label " for="fname">Doctor</label>     
                            <div class="template-demo">
                              <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary" type="button" id="dropdownMenuOutlineButton1" ngbDropdownToggle>
                                  Doctors
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownMenuOutlineButton1">
                                  <h6 class="dropdown-header">Doctors</h6>
                                  <a class="dropdown-item" href="#">Dr.Pablo</a>
                                  <a class="dropdown-item" href="#">Dr.Escobar</a>
                                  <a class="dropdown-item" href="#">Dr.Gustavo</a>
                                  
                                </div>
                              </div> 
                                
                            </div>  
                            
                          <input type="text" class="form-control" id="department" placeholder="select Doctor from list" name="department" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="fname">Injury/Disease</label>
                          <div class="col-sm-10">          
                              <textarea class="form-control" rows="5" id="comment" placeholder="Elaborate about Injury/Disease from which you are suffering."></textarea>
                          </div>
                        </div>
                        
                        <div class="form-group">        
                          <div class="col-sm-offset-2 col-sm-10">
                            
                            <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i>Submit</button>
                          
                      
                          </div>
                        </div>
                        </form>
                      </div>
                      
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>


<!-- <p>doctor-display works!</p>
<div class="card" style="width: 18rem;" *ngFor="let hos of Hospital">
    <div class="card-body">
        <h5 class="card-title">{{hos.id}}</h5>
        <h5 class="card-title">{{hos.name}}</h5>
        
         <button class="btn btn-primary" (click)="displaydoctor(hos.name)">display doctor</button>  
    </div>
</div> -->
<!-- 
<div class="card" style="width: 18rem;" *ngFor="let doc of Doctor">
    <div class="card-body">
        <h5 class="card-title">{{doc.name}}</h5>
        <h5 class="card-title">{{doc.emailId}}</h5>
        <h5 class="card-title">{{doc.contactNumber}}</h5> -->
        
        <!-- <button class="btn btn-primary" (click)="displayquestion(quizzes)">Take Quiz</button>  -->
    <!-- </div>
</div> -->

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card" *ngFor="let hos of Hospital">
        <div class="card" >
          <div class="card-body">
            
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="assets/images/carousel/hospital1.jpg" >
                <div class="carousel-caption">
                  <h3>{{hos.name}}</h3>
                  <h3>{{hos.id}}</h3>
                  <button class="btn btn-primary" (click)="displaydoctor(hos.name)">display doctor</button>
                   </div>
              </ng-template>
              
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>

<!-- <div class="card" style="width: 18rem;" *ngFor="let doc of Doctor">
     <div *ngFor="let d of doc"> 
    <div class="card-body">
        <h5 class="card-title">{{d.name}}</h5>
        
    </div>   
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-lg-6 grid-margin stretch-card" *ngFor="let doc of Doctor">
        
        <div class="card" >
          <div class="card-body">
            <div *ngFor="let d of doc"> 
   
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="assets/images/carousel/hospital1.jpg" >
                <div class="carousel-caption">
                    <h3>{{d.name}}</h3>
                    <h6>{{d.emailId}}</h6>
                    <h6>{{d.contactNumber}}</h6>
                  
                  <button class="btn btn-primary" (click)="displaydoctor(hos.name)">View doctor</button>

                   </div>
              </ng-template>
              
            </ngb-carousel>
            <hr>
          </div>
          </div>
        </div>
      </div>
    </div>
 -->
 <div class="container">
     <!-- <div class="column"> -->
         <!-- <div class="row">  -->
     <div class="column align-items-stretch justify-content-start card-deck"> 
    <div class="card" style="width: 18rem;" *ngFor="let doc of Doctor">
       <div *ngFor="let d of doc">
        <img src="assets/images/carousel/hospital1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">{{d.name}}</h1>
          <p class="card-text">{{d.emailId}}</p>
          <p class="card-text">{{d.contactNumber}}</p>
          
          <a href="#" class="btn btn-primary">view Doctor</a>
        </div>
      </div>
      </div>
     </div> 
     </div>


  

