
 
 
<div *ngIf="showMessage" class="alert alert-fill-danger" role="alert">
  Doctor has been Deleted successfully!!
</div>
<div class="cards">
  <div class="card"  *ngFor="let doc of Doctor ">
    <div class="card__image-holder">
    <img [src]=doc.image.url class="card-img-top" alt="...">
  </div>
    <div class="card-title">
      <a >
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2 style="text-align:center;display:block;"> {{doc.name}}</h2>
      <small style="text-align:center;display:block;">{{doc.emailId}}<br>{{doc.contactNumber}}<br>{{doc.desig}}</small>
      <a href="#" class="btn btn-primary" style="text-align:center;margin-bottom:5px;display:block;">view Doctor</a>
    
      <a class="btn btn-danger" style="text-align:center;display:block;" (click)="deletedoctor(doc.id)">Delete Doctor</a>

    </div>
  </div>
</div>